<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Secret</h1>
                        <p class="">The backend is the server side of the website. It stores and arranges data, 
                            and also makes sure everything on the client side of the website works fine. It is part of the website that you cannot see and interact with. It is the portion of software that does not come in direct contact with the users.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Introduction to Nodejs</h1>
                        <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast and
                             scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Introduction to Expressjs</h1>
                        <p>Express is a fast, assertive, essential and moderate web framework of Node.js. You can assume express as a layer built on the top of the Node.js that helps manage a server and routes. It provides a robust set of features to develop
                             web and mobile applications.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Full Stack Development Team</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Ritesh Yadav</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Ritesh Mishra</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Vinay Raj</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Vikas Shukla</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Meanstack Development</h1>
                        <p>Frontend Developer</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1>Megna tempus sed</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src=" https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1>Megna tempus sed</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


